{% extends "base.html" %}
     {% block content %}
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Just Fresh</h1>
                    <p class="lead fw-normal text-white-50 mb-0">It's all about Us</p>
                </div>
            </div>
        </header>
        <div class='container'>
            <div class='row'>
                <center>
                    <div class='col-8'>
                        <p><br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut aliquam lacus. Morbi consequat lobortis odio facilisis tincidunt. Nulla eget massa lobortis, imperdiet purus vel, euismod metus.Curabitur ut tellus nisi. Ut vel nulla sed augue mollis dapibus. Morbi eget ante at mi cursus eleifend rutrum sit amet elit. Suspendisse ac mollis nisi, vel varius tortor. Proin et est ultrices, aliquam augue sed, fermentum sem.
<br><br><br> 
Suspendisse tincidunt hendrerit luctus. Quisque suscipit blandit felis id imperdiet. Aenean mauris mauris, maximus scelerisque venenatis a, facilisis porta odio. Cras pulvinar justo tortor, sed eleifend massa cursus ut. Aenean vitae efficitur diam, at mollis lorem. Mauris luctus tortor lectus, a egestas turpis eleifend finibus. Cras tellus magna, varius sollicitudin porttitor ut, egestas eu neque. Maecenas volutpat vel nisi vitae commodo. Aenean rhoncus tempus mollis.<br><br></p>
                    </div>
            </div>


        </div>

         
     {% endblock content%}